html
{
    overflow: hidden;
}

#googlead
{
	position:absolute;
	overflow:hidden;
	top:10px; 
	left:20px; 
	width:140px; 
	height: 750px;
}

#googlink
{
    position:relative; 
    top: 40px;
}

#headermenu
{
    float: right;
}

#content
{
	position:absolute; 
	overflow:auto; 
	top:10px; 
	left:160px; 
	padding-right: 10px;
	right:20px;
	bottom:10px; 
}  
    

H1 { font-size: 150%; }

pre 
{
	font-family:monospace, arial, verdana;
	font-size: 85%;
	color:black;
    background: #d9e3e9;
    border: 1px black solid ;
    padding: 5px;
}

body 
{
	font-size: 0.8em; /* for IE/Win */
	font-family:verdana, arial, sans-serif;
}


H1, H2, H3, H4 {
	font-family:verdana, arial, sans-serif;
}
H1 {
  font-size: 120%;
}
H2 {
  font-size: 110%;
}
H3, H4 {
  font-size: 100%;
}


@media print 
{
   #content
   {
		position: relative;
		overflow: visible;
		left: 0px;
   }
   
   #headermenu
   {
		display:none;
   }
   
   #googlead
   {
		display:none;
   }
}
