html
{
    overflow: hidden;
}

#googlead
{
    position:absolute;
    overflow:hidden;
    top:10px; 
    left:20px; 
    width:140px; 
    height: 750px;
}

#googlink
{
    position:relative; 
    top: 40px;
}

#headermenu
{
    float: right;
}

#content
{
    position:absolute; 
    overflow:auto; 
    top:10px; 
    left:160px; 
    padding-right: 10px;
    right:20px;
    bottom:10px; 
}  
    

pre 
{
    font:13px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    color:black;
    background: #E8E8A6;
    border: 1px black solid ;
    padding: 5px;
}

body 
{
    font-size: 14px;
    font-family:helvetica, arial, freesans, clean, sans-serif;
}


H1, H2, H3, H4 {
    font-family:verdana, arial, sans-serif;
}
H1 {
  font-size: 200%;
}
H2 {
  font-size: 110%;
}
H3, H4 {
  font-size: 100%;
}


.toc
{
}

.toc a:link { text-decoration:none; }

.toc a:visited { text-decoration:none; }

.toc a:hover { text-decoration:underline;  }

@media print 
{
   #content
   {
        position: relative;
        overflow: visible;
        left: 0px;
   }
   
   #headermenu
   {
        display:none;
   }
   
   #googlead
   {
        display:none;
   }
}
